.background{ /* this is the background of where we will put all of our text*/
    background-color: rgb(246, 238, 242);
    margin-left: 200px;
    margin-right: 200px ;
    block-size: 850px;
}
h3{
    font-size: 35px;
    text-align: center;
}
.CalculatorUse{
    font-size: 23px;
    text-align: center;

}
#map{
z-index: 1;
margin-top: 60px;
margin-left: 80px;
margin-right: 500px;
background-color: rgb(197, 197, 197);
block-size: 400px;
border-radius: 50px;
border-style: dashed;
/* block-size: auto; */
}
.calculateButton{
background-color: beige;
margin-top: 10px;
margin-left: 355px;
border-radius: 30px;
}
.calculatedNumbers{
    z-index: 2;
    font-size: 20px;
    
}


